doctype html
html(lang="en")
  head
    title Landing Page
  body
    header 
    h1 Flash Cards 
  section#content
    h2 Welcome, student
  footer 
    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio accusamus earum sit suscipit. Eum debitis ipsa, impedit, minima unde saepe, facilis provident sequi laudantium iste ducimus doloribus accusamus dignissimos adipisci!
